@font-face {
    font-family: 'Stencil';
    src: url(../assets/fonts/StardosStencil-Bold.ttf);
}
@font-face {
    font-family: 'instrument B';
    src: url(../assets/fonts/InstrumentSans_Condensed-Bold.ttf);
}
@font-face {
    font-family: 'instrument SB';
    src: url(../assets/fonts/InstrumentSans-SemiBold.ttf);
}

body{
    background-color: #1C1C1C;
}



/* Home */
.NBG{
    background-color: #8D0000;
    height: 9.375rem;
}

.HBG{
    width: 100%;
}
.MNB{
    margin-left: 4rem;
}
.NBS{
    font-size: 25px;
    color: #FFFFFF;
    font-family: 'instrument B', 'Times New Roman', Times, serif;
    stroke: black 1px;
}

.NBC{
    -webkit-text-stroke: 2px black;
    paint-order: stroke fill;
    color: white;
    padding: 3rem;
    text-decoration: none;
}

.HCBG{
    background-color: #8D0000;
    height: 6.25rem;
}

.HFS{
    font-family: 'Stencil', 'Times New Roman', Times, serif;
    font-size: 50px;
    color: white;
}

.HTS{
    font-size: 40px;
    font-family: 'instrument B';
    color: white;
    text-decoration: underline;
}

.CTS{
    font-family: 'instrument SB', 'Times New Roman', Times, serif;
    color: white;
    font-size: 20px;
    width: 44.688rem;
}

.CIS{
    width: 45rem;
    height: 25rem;
}
.ACIS{
    width: 45rem;
    height: 25rem;
}
/* Home */


/* About */
.ABTT{
    font-family: 'instrument SB', 'Times New Roman', Times, serif;
    width: 47.375rem;
    color: white;
    font-size: 35px;
}
/* About */

/* Black Belts */
.BBSS{
    width: 30rem;
    height: 35rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    
}

.BBIS{
    width: 100%;
    height: 85%;
    
}

.BBTS{
    font-family: 'instrument B', 'Times New Roman', Times, serif;
    font-size: 40px;
    color: white;
}
/* Black Belts */

/* Store */
.SCS{
    width: 100rem;
    height: 31rem;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 3rem;
    margin-left: 9.5rem;
}

.SIS{
    width: 25rem;
    height: 25rem;
}
.STT{
    font-family: 'instrument SB', 'Times New Roman', Times, serif;
    color: white;
    font-size: 35px;
}
.STS{
    font-family: 'instrument SB', 'Times New Roman', Times, serif;
    color: white;
    font-size: 20px;
}
.SSB{
    font-family: 'instrument B', 'Times New Roman', Times, serif;
    font-size: 30px;
    width: 15rem;
    height: 4rem;
    background-color: #464646;
    color: white;
    -webkit-text-stroke: 2px black;
    paint-order: stroke fill;
    border: 0;
    border-radius: 10px;
    margin-top: 2.5rem;
    
    
}
.SNBP{
    margin-top: 5rem;
}
/* Store */

/* Contact */
.CUI{
    width: 40rem;
    height: 4.063rem;
    font-size: 20px;
}

.CUIM{
    width: 40rem;
    height: 22.3rem;
    font-size: 20px;
}

textarea{
    resize: none;
}

.CUSB{
    font-family: 'instrument B', 'Times New Roman', Times, serif;
    font-size: 30px;
    width: 15rem;
    height: 4rem;
    margin-left: 12rem;
    background-color: #464646;
    -webkit-text-stroke: 2px black;
    paint-order: stroke fill;
    border: 0;
    border-radius: 10px;
    color: white;
    
}
.CUBG{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 4rem 0 0 4rem;
    height: 48.4rem;
}
/* Contact */